body {
  nav.filetree-sidebar {
  h1::before {
      content: " ";
      display: block;
      width: 100%;
      height: 5em;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(https://blog-assets.eleni.co/logo/garden_logo_cropped.webp);
      background-position: center;
    }
  }
}
